@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-family: "Sour Gummy", sans-serif;
	background-color: #101e0d;
	margin: 0;
}

body#about {
	background-color: blue;
	background-image: url(image/cork-board-texture-pattern-background_43300-1481.avif);
	background-size: cover;
	margin-bottom: 150px;
}

body#qualities {
	background-color: rgb(255, 0, 0);
	background-image: url(image/istockphoto-839004180-612x612.jpg);
	background-size: cover;
	margin-bottom: 150px;
}

.homepage {
	width: 100%;
	margin: 0 auto;
}

h1 {
	color: white;
	font-size: 35px;
	text-align: center;
}

#about h1 {
	color: white;
}

header {
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}

header li {
	display: inline;
	margin-left: 20px;
	font-size: 20px;
}

.photos {
	display: flex;
	align-items: center;
	margin-top: 150px; /* Adjust the value as needed */
	margin-bottom: 100px;
}

.photos div,
.photos section {
	flex: 1;
}

.photos img {
	width: 100%;
}

p {
	color: white;
	font-size: 35px;
	align-self: right;
	line-height: 70px;
	text-align: center;
}

a {
	text-decoration: none;
}

.button {
	padding: 15px;
	background-color: black;
	display: inline-block;
	border-radius: 25px;
	text-decoration: none;
	color: #fff;
	font-weight: 25px;
}

.headerphoto {
	flex: 1000;
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
}

@media screen and (max-width: 1024px) {
	.navigation li.no-mobile {
		display: none;
	}

	.One-piece-episodes div {
		width: 48%;
	}
}

.mobile {
	display: none;
}

@media screen and (max-width: 768px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}

	header {
		background-image: none;
		height: auto;
	}

	.intro {
		width: 100%;
	}

	.One-piece-episodes div {
		width: 100%;
	}

	.logo-onepiece {
		width: 100%;
	}
}

.navigation li {
	padding-right: 0;
}

.navigation li:last-child {
	padding-left: 10px;
}
